.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 40px; 
    background-color: #232C4B;
}

.row-margined {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.centered {
    text-align: center !important;
}

.map {
    border: solid 1px #D3D3D3 !important;
    border-radius: 4px !important;
    padding-top: 10px !important;
}


.msg {
    width: 100% !important;   
    margin-top: 2rem !important;
}

.main-content {
    width: 100%;
}

.main-block {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.status {
    margin-top: 0.5rem;
    width: 100% !important;
}
.status > .alert {
    width: 100% !important;
}

.station-card {
    width: 100% !important;
    margin-bottom: 1rem !important;
}

.plug{
    margin-bottom: 0.5rem !important;
}

.main-title {
    margin-top: 1rem;
    display: inline-block;
}

.homepage-button {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}
.slide-img {
    height: 500px !important;
    object-fit: cover;
}
.highlight {
    background-color: yellow;
}
.form-field {
    margin-bottom: 30px;
    height: 38px;
}
.form-label{
    margin-bottom: 30px;
}

#filter{
    color: blue;
}

.form {
    margin-left: 70px;
    margin-bottom: 200px;
    width: 700px;
    margin-top: 50px; 
}
.form-dropdown {
   margin-right: 500px;
   height:30px;
}